.container
  .row.justify-content-center
    .col-10
      = render 'shared/errors', obj: @group
      = form_with(model: @group, class: 'shadow p-3 mb-3 bg-info rounded', local:true)  do |f|
        .form-group.row
          = f.label :name, class: 'col-2 col-form-label text-light'
          .col-10
            = f.text_field :name, class: 'form-control shadow rounded', placeholder: 'Enter a Group name'
        .form-group.row.justify-content-center
          = f.submit t('general.submit'), class: 'btn btn-outline-light btn-lg'
    = link_to '[ Cancel and return to Group listing ]', groups_path, class: 'text-info'
