.container
  .row.d-flex.justify-content-center
    .ml-4
      = link_to t('general.add_new_member'), new_group_membership_path(group_id: @group.id), class: 'btn btn-outline-success'
    .ml-4
      = link_to t('general.add_new_bill'), new_group_bill_path(group_id: @group.id), class: 'btn btn-outline-success'
  .row.d-flex.justify-content-center
    - @members.each do |member|
      .col-8.mt-4
        .card.text-center.shadow.mb-5.bg-white.rounded
          .card-header.font-italic
            = member.name
          - if member != current_user
            .card-body.text-success
              %p.card-text= @group.amount_owed_or_lent_by_member(current_user.id, member.id)
          - if logged_in? && @group.owner != member
            = link_to t('general.remove_member'), group_membership_path(id: @group.memberships.find_by(user_id: member.id)&.id, group_id: @group), method: :delete, class: 'btn btn-outline-danger', data: { confirm: t('general.member_removal_confirmation') }
          .card-footer.text-muted
            %small
              Joined #{time_ago_in_words(member.created_at)}ago
.flickr_pagination.mb-4
  = will_paginate @members, container: false